In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dga1.txt',sep=r'\t',header=None)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
df.head()

,0,1,2,3
0,gameover,igmw1w1wudxenelxbro1c6dfep.org,2018-01-02 00:00:00,2018-01-02 23:59:59
1,gameover,1aa3ahh1nicfif1b4b12c161p1ip.com,2018-01-02 00:00:00,2018-01-02 23:59:59
2,gameover,1s4hot0fvw8zpht7xyp9ze5we.biz,2018-01-02 00:00:00,2018-01-02 23:59:59
3,gameover,wq4j8qm8dbj7tki0a21305cke.com,2018-01-02 00:00:00,2018-01-02 23:59:59
4,gameover,1iytf25dr4p4l6a4cbh12hgqhn.com,2018-01-02 00:00:00,2018-01-02 23:59:59

In [4]:
df.columns = ['a','b','c','d']

In [5]:
df.head()

,a,b,c,d
0,gameover,igmw1w1wudxenelxbro1c6dfep.org,2018-01-02 00:00:00,2018-01-02 23:59:59
1,gameover,1aa3ahh1nicfif1b4b12c161p1ip.com,2018-01-02 00:00:00,2018-01-02 23:59:59
2,gameover,1s4hot0fvw8zpht7xyp9ze5we.biz,2018-01-02 00:00:00,2018-01-02 23:59:59
3,gameover,wq4j8qm8dbj7tki0a21305cke.com,2018-01-02 00:00:00,2018-01-02 23:59:59
4,gameover,1iytf25dr4p4l6a4cbh12hgqhn.com,2018-01-02 00:00:00,2018-01-02 23:59:59

In [14]:
list(df[1:2]['a'])[0]

'gameover'

In [25]:
df.ix[0]['a']

'gameover'

In [ ]:
for i  in range(df.shape[0]):
    str1 = df.ix[i]['a']
    str2 = df.ix[i]['b']
    if a == str1: