In [8]:
import domain
from linguistic_classifier import DGAClassifier

In [9]:
import pandas as pd

In [10]:
lable = ['gameover', 'locky', 'nymaim', 'symmi', 'conficker',
        'pykspa_v2_real', 'pykspa_v2_fake', 'bamital', 'madmax', 'qadars',
        'necurs', 'cryptolocker', 'proslikefan', 'ranbyus', 'murofet',
        'suppobox', 'mirai', 'vidro', 'tofsee', 'dyre', 'chinad', 'virut',
        'emotet', 'matsnu', 'blackhole', 'padcrypt', 'xshellghost',
        'ccleaner', 'fobber_v1', 'dircrypt', 'tinba', 'ramnit', 'banjori',
        'simda', 'fobber_v2', 'tempedreve', 'vawtrak', 'rovnix', 'gspy',
        'pykspa_v1', 'shifu']

In [11]:
f1 = open('test123.txt','w+')

In [ ]:


with open ('dga1.txt') as f:
    for a in lable:
        count1 = 0
        count2 = 0
        
        for line in f:
            str1 = line.split('\t')[0]
            str2 = line.split('\t')[1]
            if str1 == a:
                
                count1 +=1
                
                do = domain.Domain(str2,'False')
                DGA_classifier = DGAClassifier(do)
                distance = DGA_classifier.classify()
                if distance > 1.9975:
                    count2 +=1
                    #f1.write(str1 + " " + str2 + " " + str(distance) + " " + "1" + "\n")
                else:
                    continue 
                    #f1.write(str1 + " " + str2 + " " + str(distance) + " " + "0" + "\n")
                    
        f1.write(a + " " + str(float(count2)/float(count1))  + "\n")

In [4]:
df.head()

,0,1,2,3
0,gameover,igmw1w1wudxenelxbro1c6dfep.org,2018-01-02 00:00:00,2018-01-02 23:59:59
1,gameover,1aa3ahh1nicfif1b4b12c161p1ip.com,2018-01-02 00:00:00,2018-01-02 23:59:59
2,gameover,1s4hot0fvw8zpht7xyp9ze5we.biz,2018-01-02 00:00:00,2018-01-02 23:59:59
3,gameover,wq4j8qm8dbj7tki0a21305cke.com,2018-01-02 00:00:00,2018-01-02 23:59:59
4,gameover,1iytf25dr4p4l6a4cbh12hgqhn.com,2018-01-02 00:00:00,2018-01-02 23:59:59

In [6]:
df['a'].unique()

array(['gameover', 'locky', 'nymaim', 'symmi', 'conficker',
       'pykspa_v2_real', 'pykspa_v2_fake', 'bamital', 'madmax', 'qadars',
       'necurs', 'cryptolocker', 'proslikefan', 'ranbyus', 'murofet',
       'suppobox', 'mirai', 'vidro', 'tofsee', 'dyre', 'chinad', 'virut',
       'emotet', 'matsnu', 'blackhole', 'padcrypt', 'xshellghost',
       'ccleaner', 'fobber_v1', 'dircrypt', 'tinba', 'ramnit', 'banjori',
       'simda', 'fobber_v2', 'tempedreve', 'vawtrak', 'rovnix', 'gspy',
       'pykspa_v1', 'shifu'], dtype=object)

In [3]:
df = pd.read_csv('dga1.txt',sep=r'\t',header=None)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [5]:
df.columns = ['a','b','c','d']