In [45]:
import pandas as pd

In [48]:
df = pd.read_csv('distance1.csv',sep=r',')

In [49]:
df.head()

   Unnamed: 0  distance
0           0  1.044225
1           1  1.876585
2           2  1.076125
3           3  1.962804
4           4  0.999790

In [50]:
list = []

In [52]:
for d in df['distance']:
    list.append(d)

In [54]:
list = sorted(list)

In [61]:
a = list[int(len(list)*0.7)]

In [62]:
a

1.3588486308797612

In [63]:
len(list)

99481

In [66]:
df.columns = ['index','distance']

In [67]:
df.head()

   index  distance
0      0  1.044225
1      1  1.876585
2      2  1.076125
3      3  1.962804
4      4  0.999790

In [74]:
df = df.drop('index',axis=1)

In [75]:
df.head()

   distance
0  1.044225
1  1.876585
2  1.076125
3  1.962804
4  0.999790

In [80]:
df1 = pd.read_csv('alexa100.txt',sep=r',',header=None)

In [81]:
df1.head()

              0
0  facebook.com
1    google.com
2   youtube.com
3     yahoo.com
4     baidu.com

In [82]:
df1.shape[0]

99481

In [83]:
df.shape[0]

99481

In [84]:
df1.columns = ['domains']

In [85]:
df1.head()

        domains
0  facebook.com
1    google.com
2   youtube.com
3     yahoo.com
4     baidu.com

In [86]:
df.head()

   distance
0  1.044225
1  1.876585
2  1.076125
3  1.962804
4  0.999790

In [87]:
import numpy as np

In [92]:
df2  = pd.concat([df1,df],axis=1)

In [94]:
df2.to_csv('alexa_mashi_distance.csv')

In [97]:
df1 = pd.read_csv('top1M.txt',sep=r',',header=None)

In [98]:
df1.head()

   0              1
0  0     google.com
1  1    youtube.com
2  2   facebook.com
3  3      baidu.com
4  4  wikipedia.org

In [99]:
df1.columns = ['index','domains']

In [101]:
df1.drop('index',axis=1,inplace=True)

In [127]:
df2 = pd.read_csv('distance1.csv',sep=r',',header=None)

In [128]:
df2.head()

   0         1
0  0  1.973923
1  1  1.164683
2  2  1.133156
3  3  1.101284
4  4  0.573370

In [129]:
list1 = []

In [130]:
df2.columns = ['a','b']

In [131]:
for d in df2['b']:
    list1.append(d)

In [133]:
list1 = sorted(list1)

In [134]:
len(list1)

997380