In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('top1M_distance1.csv',header=None)

In [5]:
df.head()

   0         1
0  0  1.973923
1  1  1.164683
2  2  1.133156
3  3  1.101284
4  4  0.573370

In [6]:
df.columns = ['index','distance']

In [7]:
df.head()

   index  distance
0      0  1.973923
1      1  1.164683
2      2  1.133156
3      3  1.101284
4      4  0.573370

In [16]:
list = []

In [17]:
for d in df['distance']:
    if d == 0:
        list.append(d)

In [18]:
len(list)

220489