In [70]:
import pandas as pd

In [71]:
df1 = pd.read_csv('test123.txt',sep=' ',header=None)

In [72]:
df1.head()

           0         1         2
0   gameover  0.900917  2.630873
1      locky  0.529676  2.034214
2     nymaim  0.569307  2.108460
3      symmi  0.046875  1.404898
4  conficker  0.620390  2.170427

In [73]:
df2 = pd.read_csv('dga1.txt',sep = r'\t',header=None)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [74]:
df2.head()

,0,1,2,3
0,gameover,igmw1w1wudxenelxbro1c6dfep.org,2018-01-02 00:00:00,2018-01-02 23:59:59
1,gameover,1aa3ahh1nicfif1b4b12c161p1ip.com,2018-01-02 00:00:00,2018-01-02 23:59:59
2,gameover,1s4hot0fvw8zpht7xyp9ze5we.biz,2018-01-02 00:00:00,2018-01-02 23:59:59
3,gameover,wq4j8qm8dbj7tki0a21305cke.com,2018-01-02 00:00:00,2018-01-02 23:59:59
4,gameover,1iytf25dr4p4l6a4cbh12hgqhn.com,2018-01-02 00:00:00,2018-01-02 23:59:59

In [75]:
df2.columns = ['a','b','c','d']

In [76]:
df1

                 0         1         2
0         gameover  0.900917  2.630873
1            locky  0.529676  2.034214
2           nymaim  0.569307  2.108460
3            symmi  0.046875  1.404898
4        conficker  0.620390  2.170427
5   pykspa_v2_real  0.613065  2.158943
6   pykspa_v2_fake  0.612015  2.145113
7          bamital  0.990385  3.163490
8           madmax  1.000000  2.656208
9           qadars  0.821111  2.568101
10          necurs  0.479614  1.980187
11    cryptolocker  0.445000  1.946908
12     proslikefan  0.600000  2.215958
13         ranbyus  0.410282  1.911350
14         murofet  0.562888  2.102009
15        suppobox  0.003357  0.348634
16           mirai  0.500000  2.061993
17           vidro  0.600000  2.153316
18          tofsee  0.000000  1.619048
19            dyre  0.999000  3.133495
20          chinad  0.854000  2.558855
21           virut  0.588490  2.123054
22          emotet  0.419557  1.923506
23          matsnu  0.000000  0.209790
24       blackhole  0.500000  1.698430
25        padcrypt  0.154762  1.665713
26     xshellghost  0.000000  1.495940
27        ccleaner  1.000000  2.988108
28       fobber_v1  0.496644  2.011901
29        dircrypt  0.553191  2.048536
30           tinba  0.556805  2.068213
31          ramnit  0.457383  1.969526
32         banjori  0.029582  0.856166
33           simda  0.317045  1.765858
34       fobber_v2  0.583893  2.096340
35      tempedreve  0.553922  2.069669
36         vawtrak  0.536913  2.049434
37          rovnix  0.838796  2.478692
38            gspy  0.990000  3.384453
39       pykspa_v1  0.476041  1.939814
40           shifu  0.640423  2.184346

In [77]:
dic1 = {'bamital': 104,
 'banjori': 452369,
 'blackhole': 2,
 'ccleaner': 1,
 'chinad': 1000,
 'conficker': 461,
 'cryptolocker': 1000,
 'dircrypt': 470,
 'dyre': 1000,
 'emotet': 223295,
 'fobber_v1': 298,
 'fobber_v2': 298,
 'gameover': 12000,
 'gspy': 100,
 'locky': 1112,
 'madmax': 1,
 'matsnu': 884,
 'mirai': 2,
 'murofet': 5319,
 'necurs': 8192,
 'nymaim': 404,
 'padcrypt': 168,
 'proslikefan': 100,
 'pykspa_v1': 44702,
 'pykspa_v2_fake': 799,
 'pykspa_v2_real': 199,
 'qadars': 1800,
 'ramnit': 15921,
 'ranbyus': 4960,
 'rovnix': 179996,
 'shifu': 2553,
 'simda': 24271,
 'suppobox': 2383,
 'symmi': 64,
 'tempedreve': 204,
 'tinba': 95739,
 'tofsee': 20,
 'vawtrak': 298,
 'vidro': 100,
 'virut': 9939,
 'xshellghost': 1}

In [78]:
len(dic1)

41

In [79]:
list1 = []

In [80]:
list2 = []

In [81]:
for a in dic1:
    list1.append(a)
    list2.append(dic1[a])

In [82]:
df11 = pd.DataFrame(list1)
df22 = pd.DataFrame(list2)

In [83]:
df33 = pd.concat([df11,df22],axis=1)

In [84]:
df33

                 0       0
0           necurs    8192
1        pykspa_v1   44702
2             dyre    1000
3         suppobox    2383
4          murofet    5319
5         padcrypt     168
6        blackhole       2
7           chinad    1000
8           ramnit   15921
9           matsnu     884
10       fobber_v1     298
11       fobber_v2     298
12     proslikefan     100
13        gameover   12000
14           virut    9939
15            gspy     100
16           simda   24271
17        ccleaner       1
18     xshellghost       1
19  pykspa_v2_real     199
20           locky    1112
21           tinba   95739
22         vawtrak     298
23         bamital     104
24           shifu    2553
25          emotet  223295
26        dircrypt     470
27          tofsee      20
28           symmi      64
29           vidro     100
30          qadars    1800
31          nymaim     404
32         ranbyus    4960
33      tempedreve     204
34         banjori  452369
35           mirai       2
36          rovnix  179996
37       conficker     461
38          madmax       1
39    cryptolocker    1000
40  pykspa_v2_fake     799

In [85]:
df33.columns = ['a','d']

In [86]:
df1.columns = ['a','c','b']

In [87]:
df44 = pd.merge(df1,df33,on='a', how='inner')

In [88]:
df44

                 a         c         b       d
0         gameover  0.900917  2.630873   12000
1            locky  0.529676  2.034214    1112
2           nymaim  0.569307  2.108460     404
3            symmi  0.046875  1.404898      64
4        conficker  0.620390  2.170427     461
5   pykspa_v2_real  0.613065  2.158943     199
6   pykspa_v2_fake  0.612015  2.145113     799
7          bamital  0.990385  3.163490     104
8           madmax  1.000000  2.656208       1
9           qadars  0.821111  2.568101    1800
10          necurs  0.479614  1.980187    8192
11    cryptolocker  0.445000  1.946908    1000
12     proslikefan  0.600000  2.215958     100
13         ranbyus  0.410282  1.911350    4960
14         murofet  0.562888  2.102009    5319
15        suppobox  0.003357  0.348634    2383
16           mirai  0.500000  2.061993       2
17           vidro  0.600000  2.153316     100
18          tofsee  0.000000  1.619048      20
19            dyre  0.999000  3.133495    1000
20          chinad  0.854000  2.558855    1000
21           virut  0.588490  2.123054    9939
22          emotet  0.419557  1.923506  223295
23          matsnu  0.000000  0.209790     884
24       blackhole  0.500000  1.698430       2
25        padcrypt  0.154762  1.665713     168
26     xshellghost  0.000000  1.495940       1
27        ccleaner  1.000000  2.988108       1
28       fobber_v1  0.496644  2.011901     298
29        dircrypt  0.553191  2.048536     470
30           tinba  0.556805  2.068213   95739
31          ramnit  0.457383  1.969526   15921
32         banjori  0.029582  0.856166  452369
33           simda  0.317045  1.765858   24271
34       fobber_v2  0.583893  2.096340     298
35      tempedreve  0.553922  2.069669     204
36         vawtrak  0.536913  2.049434     298
37          rovnix  0.838796  2.478692  179996
38            gspy  0.990000  3.384453     100
39       pykspa_v1  0.476041  1.939814   44702
40           shifu  0.640423  2.184346    2553

In [89]:
df44.columns= ['type','successfuf_judge_rate','average_distance','total_count']

In [ ]:
df44.to_csv('dga1M_')