In [75]:
f=open("dga1.txt","r")

In [76]:
list1 = []
list2 = []
list3 = []
list4 = []
set1 = set()
set2 = set()
set3 = set()
dic1 = {}
dic2 = {}
dic = {}

In [77]:
for line in f:
    str1 = line.split('\t')[0]
    str2 = line.split('\t')[1]

    str3 = str2.partition('.')[0]
    str4 = str2.partition('.')[-1]
    
    
    int1=0
    for x in str3:
        if x.isalpha():
            int1=int1+1
            
    int2=0
    for x in str3:
        if x.isdigit():
            int2=int2+1
            
    rate = float(int2)/float(len(str3))
    
    if str1 in dic1:
        dic1[str1].append(rate)
    else:
        dic1[str1] = []
        dic1[str1].append(rate)

In [104]:
with open ("dga1.txt","r") as f:
    
    for line in f:
        str1 = line.split('\t')[0]
        str2 = line.split('\t')[1]

        str3 = str2.partition('.')[0]
        str4 = str2.partition('.')[-1]



        if  dic.has_key(str1):
            dic[str1]['count'] +=1
            dic[str1]['suff_type'].add(str4)
            dic[str1]['interval'].add(len(str3))

        else:
            dic[str1]={}

            dic[str1]['count'] = 1

            dic[str1]['suff_type']=set()
            dic[str1]['suff_type'].add(str4)

            dic[str1]['interval']=set()
            dic[str1]['interval'].add(len(str3))

            dic[str1]['num_ratio'] = set()
            dic[str1]['num_ratio'].add(min(tuple(dic1[str1])))
            dic[str1]['num_ratio'].add(max(tuple(dic1[str1])))
    print dic

{'pykspa_v1': {'count': 44702, 'interval': set([6, 7, 8, 9, 10, 11, 12, 13, 14, 15]), 'num_ratio': set([0.0]), 'suff_type': set(['info', 'cc', 'biz', 'org', 'net', 'com'])}, 'murofet': {'count': 5319, 'interval': set([32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 11, 12, 13, 14, 15, 16, 43, 45, 44]), 'num_ratio': set([0.0, 0.5777777777777777]), 'suff_type': set(['info', 'ru', 'biz', 'org', 'net', 'com'])}, 'padcrypt': {'count': 168, 'interval': set([16]), 'num_ratio': set([0.0]), 'suff_type': set(['website', 'info', 'co', 'cc', 'de', 'co.uk', 'tk', 'ga', 'online', 'eu', 'org', 'net', 'com'])}, 'ramnit': {'count': 15921, 'interval': set([8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]), 'num_ratio': set([0.0]), 'suff_type': set(['eu', 'bid', 'com', 'click'])}, 'gameover': {'count': 12000, 'interval': set([32, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]), 'num_ratio': set([0.0, 0.75]), 'suff_type': set(['info', 'ru', 'biz', 'org', 'net', 'com'])}, 'ranbyus': {'count': 4960, 'interval': set([17, 14]), 'num_ratio': set([0.0]), 'suff_type': set(['me', 'pw', 'cc', 'tw', 'su', 'in', 'net', 'com'])}, 'vidro': {'count': 100, 'interval': set([7, 8, 9, 10, 11, 12]), 'num_ratio': set([0.0]), 'suff_type': set(['dyndns.org', 'net', 'com'])}, 'blackhole': {'count': 2, 'interval': set([16]), 'num_ratio': set([0.0]), 'suff_type': set(['ru'])}, 'ccleaner': {'count': 1, 'interval': set([13]), 'num_ratio': set([0.46153846153846156]), 'suff_type': set(['com'])}, 'xshellghost': {'count': 1, 'interval': set([13]), 'num_ratio': set([0.0]), 'suff_type': set(['com'])}, 'pykspa_v2_real': {'count': 199, 'interval': set([6, 7, 8, 9, 10, 11, 12]), 'num_ratio': set([0.0]), 'suff_type': set(['info', 'org', 'net', 'com'])}, 'locky': {'count': 1112, 'interval': set([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]), 'num_ratio': set([0.0]), 'suff_type': set(['xyz', 'it', 'su', 'in', 'eu', 'click', 'ru', 'nl', 'pw', 'tf', 'pl', 'pm', 'be', 'fr', 'de', 'biz', 'org', 'yt', 'info', 'work', 'us', 'uk'])}, 'tempedreve': {'count': 204, 'interval': set([8, 9, 10, 11, 7]), 'num_ratio': set([0.0]), 'suff_type': set(['info', 'org', 'net', 'com'])}, 'simda': {'count': 24271, 'interval': set([8, 11, 5, 6, 7]), 'num_ratio': set([0.0]), 'suff_type': set(['eu', 'info', 'net', 'com', 'su'])}, 'qadars': {'count': 1800, 'interval': set([12]), 'num_ratio': set([0.0, 0.75]), 'suff_type': set(['org', 'net', 'com', 'top'])}, 'symmi': {'count': 64, 'interval': set([8, 9, 10, 11, 12, 13, 14, 15]), 'num_ratio': set([0.0]), 'suff_type': set(['ddns.net'])}, 'banjori': {'count': 452369, 'interval': set([7, 11, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]), 'num_ratio': set([0.0]), 'suff_type': set(['com'])}, 'tinba': {'count': 95739, 'interval': set([7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]), 'num_ratio': set([0.0, 0.75]), 'suff_type': set(['co', 'cc', 'xyz', 'us', 'in', 'eu', 'click', 'ru', 'pw', 'space', 'online', 'net', 'co.in', 'me', 'club', 'bid', 'biz', 'org', 'info', 'me.uk', 'su', 'tech', 'gen.in', 'com', 'rent'])}, 'rovnix': {'count': 179996, 'interval': set([18]), 'num_ratio': set([0.0, 0.7222222222222222]), 'suff_type': set(['biz', 'ru', 'net', 'com', 'cn'])}, 'madmax': {'count': 1, 'interval': set([3]), 'num_ratio': set([0.0]), 'suff_type': set(['ejgb0cgqs5.com'])}, 'dyre': {'count': 1000, 'interval': set([34]), 'num_ratio': set([0.35294117647058826, 0.8529411764705882]), 'suff_type': set(['cn', 'to', 'cc', 'hk', 'ws', 'tk', 'in', 'so'])}, 'suppobox': {'count': 2383, 'interval': set([8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]), 'num_ratio': set([0.0]), 'suff_type': set(['ru', 'net'])}, 'tofsee': {'count': 20, 'interval': set([7]), 'num_ratio': set([0.0]), 'suff_type': set(['ch', 'biz'])}, 'chinad': {'count': 1000, 'interval': set([16]), 'num_ratio': set([0.0, 0.625]), 'suff_type': set(['info', 'ru', 'cn', 'biz', 'org', 'net', 'com'])}, 'matsnu': {'count': 884, 'interval': set([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]), 'num_ratio': set([0.0]), 'suff_type': set(['com'])}, 'pykspa_v2_fake': {'count': 799, 'interval': set([6, 7, 8, 9, 10, 11, 12]), 'num_ratio': set([0.0]), 'suff_type': set(['info', 'org', 'net', 'com'])}, 'fobber_v2': {'count': 298, 'interval': set([10]), 'num_ratio': set([0.0]), 'suff_type': set(['com'])}, 'proslikefan': {'count': 100, 'interval': set([6, 7, 8, 9, 10, 11]), 'num_ratio': set([0.0]), 'suff_type': set(['info', 'ru', 'name', 'biz', 'in', 'eu', 'org', 'net', 'com', 'se'])}, 'necurs': {'count': 8192, 'interval': set([7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]), 'num_ratio': set([0.0]), 'suff_type': set(['ac', 'co', 'cm', 'cc', 'pro', 'ir', 'cx', 'im', 'su', 'ga', 'in', 'eu', 'ru', 'pw', 'la', 'tv', 'tw', 'nf', 'to', 'tj', 'net', 'nu', 'xxx', 'de', 'jp', 'biz', 'org', 'bit', 'bz', 'me', 'sx', 'ki', 'mn', 'us', 'mu', 'sh', 'so', 'ms', 'sc', 'kz', 'ug', 'com', 'mx'])}, 'gspy': {'count': 100, 'interval': set([16]), 'num_ratio': set([0.3125, 0.9375]), 'suff_type': set(['info', 'net'])}, 'cryptolocker': {'count': 1000, 'interval': set([12, 13, 14, 15]), 'num_ratio': set([0.0]), 'suff_type': set(['info', 'ru', 'co.uk', 'biz', 'org', 'net', 'com'])}, 'vawtrak': {'count': 298, 'interval': set([8, 9, 10, 11, 7]), 'num_ratio': set([0.0]), 'suff_type': set(['ru', 'top'])}, 'bamital': {'count': 104, 'interval': set([32]), 'num_ratio': set([0.5, 0.90625]), 'suff_type': set(['info', 'org', 'co.cc', 'cz.cc'])}, 'shifu': {'count': 2553, 'interval': set([7]), 'num_ratio': set([0.0]), 'suff_type': set(['info', 'eu'])}, 'emotet': {'count': 223295, 'interval': set([16]), 'num_ratio': set([0.0]), 'suff_type': set(['eu'])}, 'dircrypt': {'count': 470, 'interval': set([8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]), 'num_ratio': set([0.0]), 'suff_type': set(['com'])}, 'nymaim': {'count': 404, 'interval': set([5, 6, 7, 8, 9, 10, 11, 12]), 'num_ratio': set([0.0]), 'suff_type': set(['info', 'ru', 'pw', 'xyz', 'biz', 'in', 'org', 'net', 'com'])}, 'fobber_v1': {'count': 298, 'interval': set([17]), 'num_ratio': set([0.0]), 'suff_type': set(['net'])}, 'mirai': {'count': 2, 'interval': set([12]), 'num_ratio': set([0.0]), 'suff_type': set(['tech', 'online'])}, 'conficker': {'count': 461, 'interval': set([5, 6, 7, 8, 9, 10, 11]), 'num_ratio': set([0.0]), 'suff_type': set(['info', 'cn', 'cc', 'biz', 'org', 'net', 'com'])}, 'virut': {'count': 9939, 'interval': set([6]), 'num_ratio': set([0.0]), 'suff_type': set(['com'])}}

In [105]:
import pandas as pd

In [106]:
df = pd.DataFrame(dic)

In [108]:
df.to_csv('aaaaaa.csv')

In [82]:
dictest['aaa'] = {}

In [98]:
dictest['aaa']['bbb']=set()

In [100]:
dictest['aaa']['bbb'].add('123')

In [102]:
dictest

{'aaa': {'bbb': {'123'}}}

In [91]:
dicaaa = {'a1':{'a2':123
                ,'a3':456}
          ,'a4':{'a5':678,
                'a6':789}}

In [92]:
pd.DataFrame(dicaaa)

       a1     a4
a2  123.0    NaN
a3  456.0    NaN
a5    NaN  678.0
a6    NaN  789.0

In [93]:
abc = set()

In [96]:
abc.add(1)

In [97]:
abc

{1, 'aa'}